sudo: required
dist: trusty
language: python
env:
  - CONVERTER=ffmpeg
  - CONVERTER=libav-tools
before_install:
  - sudo add-apt-repository ppa:mc3man/trusty-media
  - sudo apt-get update --fix-missing
install:
  - sudo apt-get install -y ${CONVERTER} libav-tools libopus-dev
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"
script:
  - python test/test.py
